.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
mientorno/
.venv/
.mientorno/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

#Esto tiene los archivos del entorno virtual para que ignose esos archivos y carpetas