{% extends 'base.html' %}
{% block title %} registrar {% endblock title %}

{% block content %}


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<!-- Custom styles for this template -->



<main class="form-signin" style="max-width: 400px; margin: auto;">
    <br>
    <br>
    <form action="/login/Register/Add" method="POST">
        <div style="padding-left: 100px;">
            <img class="mb-4" src="{{ url_for('static',filename='img/logo.PNG') }}" alt="" width="200" height="100">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <h1 class="h3 mb-3 fw-normal">Please Register </h1>
            {% for msg in get_flashed_messages() %}
            <br>
            
                {{msg}}
            
            {% endfor %}
            
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input name="address" type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>


    </div>
    
    <a href="/login" data-page-id="812472"
        class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-create-account u-none u-text-palette-1-base u-btn-3">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Ya tengo cuenta</font>
        </font>
    </a>
    </div>
</main>

{% endblock %}

<link href="{{ url_for('static',filename='css/signin.css') }}" rel="stylesheet">